body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Epilogue', sans-serif;
    background: var(--almost-white);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.btn {
    padding: 1rem 2rem;
    border: 2px solid var(--medium-grey);
    border-radius: 1rem;
}

.mobile-menu {
    display: none;
    transition: .3s ease;
}

.menu .dropdow-menu {
    display: block;
    background: rgb(235, 233, 233);
    min-width: 120px;
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    padding: .5rem;
}

.menu .dropdow-menu li{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu .dropdow-menu {
   display:none;
   opacity: 0;
}

.menu .dropdow-menu li a{
    padding: .5rem;
}

.menu .dropdow-menu.active-dropdown {
    display: block;
    opacity: 1;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu ul li a,
.register a {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.menu ul .arrow::after,
.menu ul .arrow::after {
    content: url(../images/icon-arrow-down.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
}

.register .btn:hover,
.register a:hover,
.menu ul li a:hover {
    color: var(--almost-black);
    border-color: var(--almost-black);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.container .work {
    align-self: flex-start;
    margin-right: 10rem;
    margin-top: 5rem;
}

.container .work h1 {
    font-size: 8rem;
    color: var(--almost-black);
    margin-bottom: 5rem;
    width: 53rem;
}

.container .work p {
    font-size: var(--font-size-paragraph);
    max-width: 45rem;
    color: var(--medium-grey);
    line-height: 1.5;
    margin-bottom: 4rem;
}

.container .work .btn {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--almost-white);
    background: var(--almost-black);
    border: 1px solid var(--almost-black);
    border: none;
}

.container .work .btn:hover {
    background: var(--almost-white);
    color: var(--almost-black);
    border: 1px solid var(--almost-black);
}

.work .partners {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5rem;
    margin-top: 10rem;
    padding: 1rem;
}

.container .hero img {
    min-width: 50%;
    max-height: 75vh;
    margin-top: 5rem;
}